[submodule "submodules/kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
[submodule "submodules/rook"]
	path = submodules/rook
	url = https://github.com/rook/rook.git
[submodule "submodules/openstack-exporter"]
	path = submodules/openstack-exporter
	url = https://github.com/openstack-exporter/helm-charts
[submodule "submodules/nginx-gateway-fabric"]
	path = submodules/nginx-gateway-fabric
	url = https://github.com/nginxinc/nginx-gateway-fabric.git
[submodule "submodules/postgres-operator"]
	path = submodules/postgres-operator
	url = https://github.com/zalando/postgres-operator.git
