---
extends: default
rules:
  indentation:
    spaces: 2
  line-length: disable
  comments:
    min-spaces-from-content: 1
  brackets:
    forbid: non-empty
  new-line-at-end-of-file: enable
ignore:
  - submodules/
