#cloud-config
runcmd:
  - |
    #!/bin/bash
    # copy the os_admin.cnf that trove guest agent creates to /etc/mysql/conf.d so that it is
    # useable after entering the database docker container
    # NBB: this must be done here and not part of the image build because Trove code creates the
    #      os_admin.cnf during prepare, not when Trove is installed
    echo "Creating os_admin.cnf"
    until [ -f "/var/lib/mysql/conf.d/os_admin.cnf" ]
    do
        sleep 5
    done
    sudo cp /var/lib/mysql/conf.d/os_admin.cnf /etc/mysql/conf.d
    sudo chown database:database /etc/mysql/conf.d/os_admin.cnf
