---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-cluster
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
data:
  UMASK: "0660"
  UMASK_DIR: "0750"
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb-cluster
  namespace: grafana
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  rootPasswordSecretKeyRef:
    name: grafana-db
    key: root-password
    generate: false
  username: mariadb
  database: mariadb
  image: docker-registry1.mariadb.com/library/mariadb:11.4.3

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                  - worker

  storage:
    size: 10Gi
    storageClassName: general
    resizeInUseVolumes: true
    waitForVolumeResize: true
    volumeClaimTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
      storageClassName: general

  replicas: 1

  replication:
    enabled: false

  service:
    type: LoadBalancer
    metadata:
      annotations:
        metallb.universe.tf/address-pool: primary
  connection:
    secretName: mariadb-cluster-conn
    secretTemplate:
      key: dsn

  primaryService:
    type: LoadBalancer
    metadata:
      annotations:
        metallb.universe.tf/address-pool: primary
  primaryConnection:
    secretName: mariadb-cluster-conn-primary
    secretTemplate:
      key: dsn

  secondaryService:
    type: LoadBalancer
    metadata:
      annotations:
        metallb.universe.tf/address-pool: primary
  secondaryConnection:
    secretName: mariadb-cluster-conn-secondary
    secretTemplate:
      key: dsn

  updateStrategy:
    type: RollingUpdate

  myCnf: |
    [mariadb]
    bind-address=0.0.0.0
    default_storage_engine=InnoDB
    binlog_format=ROW
    innodb_autoinc_lock_mode=2
    max_allowed_packet=256M
    max_connections=10240
    open_files_limit=10240
    max-connect-errors=1000000
    innodb_rollback_on_timeout=1
    performance_schema=ON
    innodb_log_buffer_size=33554432
    innodb_flush_log_at_trx_commit=1
    ignore-db-dirs=lost+found
    skip-name-resolve
    innodb_buffer_pool_size=4G
    innodb_doublewrite=0
    innodb_file_per_table=1
    innodb_flush_method=O_DIRECT
    innodb_io_capacity=500
    innodb_log_file_size=1G
    innodb_old_blocks_time=1000
    innodb_read_io_threads=8
    innodb_write_io_threads=8

    wait_timeout=3600
    interactive_timeout=3600
    net_read_timeout=360
    net_write_timeout=360

    sync_binlog=1
    thread_cache_size=16
    table_open_cache=2048
    table_definition_cache=1024

  metrics:
    enabled: false
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: Backup
metadata:
  name: mariadb-backup
  namespace: grafana
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  mariaDbRef:
    name: mariadb-cluster
    namespace: grafana
  schedule:
    cron: "0 0 * * *"
  serviceAccountName: backup
  compression: gzip
  storage:
    persistentVolumeClaim:
      resources:
        requests:
          storage: 1Gi
      accessModes:
        - ReadWriteOnce
  args:
    - --single-transaction
    - --all-databases
    - --verbose
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 512Mi
  affinity:
    antiAffinityEnabled: true
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: Database
metadata:
  name: grafana
  namespace: grafana
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  # If you want the database to be created with a different name than the resource name
  # name: data-custom
  mariaDbRef:
    name: mariadb-cluster
  characterSet: utf8
  collate: utf8_general_ci
  requeueInterval: 30s
  retryInterval: 5s
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: User
metadata:
  name: grafana
  namespace: grafana
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  # If you want the user to be created with a different name than the resource name
  # name: user-custom
  mariaDbRef:
    name: mariadb-cluster
  passwordSecretKeyRef:
    name: grafana-db
    key: password
  # This field is immutable and defaults to 10
  maxUserConnections: 20
  host: "%"
  requeueInterval: 30s
  retryInterval: 5s
---
apiVersion: k8s.mariadb.com/v1alpha1
kind: Grant
metadata:
  name: grafana-grant
  namespace: grafana
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  mariaDbRef:
    name: mariadb-cluster
  privileges:
    - "ALL"
  database: "grafana"
  table: "*"
  username: grafana
  grantOption: true
  host: "%"
  requeueInterval: 30s
  retryInterval: 5s
