---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: prometheus-gateway-route
  namespace: prometheus
spec:
  hostnames:
    - prometheus.your.domain.tld
  parentRefs:
    - name: flex-gateway
      namespace: envoy-gateway
      sectionName: prometheus-https
  rules:
    - backendRefs:
        - name: kube-prometheus-stack-prometheus
          port: 9090
