---
vendors:
  - iet
  - netapp

check:
  wp: rw
  mpath_status:
    - enabled
    - active
  iet:
    policy: 'queue-length 0'
    prio: 1
  netapp:
    policy: 'service-time 0'
    prio:
      - 10
      - 50
  status:
    dm: active
    path: ready
    online: running
  alert:
    url: {{ monitor_url }}
    auth_key: {{ monitor_auth_key }}
    api_key: {{ monitor_api_key }}
    username: {{ monitor_username }}
    service_name: Multipath
