---
loki:
  storage:
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    type: s3
    s3:
      endpoint: rook-ceph-rgw-s3.rook-ceph.svc.cluster.local:80
      region: us-east-1
      accessKeyId: REPLACE_ME
      secretAccessKey: REPLACE_ME
      s3ForcePathStyle: true
      insecure: true
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
