---
# Copyright 2024-Present, Rackspace Technology, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- hosts: localhost
  connection: local
  become: true
  gather_facts: "{{ gather_facts | default(true) }}"
  environment: "{{ deployment_environment_variables | default({}) }}"
  vars:
    helm_version: v3.17.3 # Assume the default or set an explicit version.
    helm_package_url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
  tasks:
    - name: Check if USE_FILESERVER env variable is set
      ansible.builtin.set_fact:
        use_fileserver: "{{ lookup('env', 'USE_FILESERVER') | default('false') | bool }}"

    - name: Debug - show which mode is active
      ansible.builtin.debug:
        msg: "Using file-server mode: {{ use_fileserver }}"

    # OPTION 1: File-server installation
    - name: Download Helm package from internal file-server
      ansible.builtin.get_url:
        url: "{{ helm_package_url }}"
        dest: "/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
        mode: '0644'
        force: false
      when: use_fileserver

    - name: Extract Helm binary (file-server mode)
      ansible.builtin.unarchive:
        src: "/tmp/helm-{{ helm_version }}-linux-amd64.tar.gz"
        dest: "/tmp/"
        remote_src: true
      when: use_fileserver | bool

    - name: Move Helm binary to /usr/local/bin (file-server mode)
      ansible.builtin.command:
        cmd: mv /tmp/linux-amd64/helm /usr/local/bin/helm
      args:
        creates: /usr/local/bin/helm
      when: use_fileserver

    # OPTION 2: Internet-based installation
    - name: Download Helm command line tool
      ansible.builtin.uri:
        url: "{{ helm_package_url }}"
        return_content: true
      register: helm_installer
      when: not use_fileserver

    - name: Install Helm
      ansible.builtin.command:
        cmd: bash
        stdin: "{{ helm_installer.content }}"
        creates: /usr/local/bin/helm
      environment:
        DESIRED_VERSION: "{{ helm_version }}"
      when: not use_fileserver

- hosts: all
  become: true
  gather_facts: true
  environment: "{{ deployment_environment_variables | default({}) }}"
  roles:
    - host_setup
