RETENTION_DAYS=30
BACKUP_DIR=/backup
# You probably want to place this on the PersistentVolume so that it doesn't get
# deleted with the pod by cron, or use /dev/null if you don't care. You can use
# `kubectl logs` since log messages also go to STDOUT.
LOG_FILE=/backup/upload.log
LOG_LEVEL=INFO

# Upload metrics to Prometheus
PROMETHEUS_PUSHGATEWAY_URL=http://prometheus-pushgateway.prometheus.svc.cluster.local:9091
PROMETHEUS_JOB_NAME=ovn-backup
PROMETHEUS_UPLOAD=false

# From here forward, variables for uploading to Swift with tempauth
SWIFT_TEMPAUTH_UPLOAD=false
# If you change this to "true", set the variables in swift-tempauth.env
CONTAINER=test-ovn-backup
