BASEDIR=${BASEDIR:-/opt/genestack}

# Automation variables
export GENESTACK_CONFIG="${GENESTACK_CONFIG:-/etc/genestack}"
export SKIP_PROMPTS="${SKIP_PROMPTS:-false}"
export ANSIBLE_FORKS="${ANSIBLE_FORKS:-24}"
export ANSIBLE_FILTER_PLUGINS="${ANSIBLE_FILTER_PLUGINS:-$(readlink -f ${BASEDIR}/ansible/filter_plugins)}"
export ANSIBLE_INVENTORY="${ANSIBLE_INVENTORY:-${GENESTACK_CONFIG}/inventory}"
export ANSIBLE_INVENTORY_IGNORE_REGEX="${ANSIBLE_INVENTORY_IGNORE_REGEX:-'patches|group_vars|artifacts|credentials|.*\.example'}"
export ANSIBLE_COLLECTION_FILE=${ANSIBLE_COLLECTION_FILE:-"$(readlink -f ${BASEDIR}/ansible-collection-requirements.yml)"}
export USER_COLLECTION_FILE=${USER_COLLECTION_FILE:-"$(readlink -f ${BASEDIR}/user-collection-requirements.yml)"}

test -f "${GENESTACK_CONFIG}/provider" 2>/dev/null && export K8S_PROVIDER=$(head -n1 ${GENESTACK_CONFIG}/provider)
export K8S_PROVIDER="${K8S_PROVIDER:-kubespray}"

if [[ -f "${GENESTACK_CONFIG}/product" ]]; then
  export GENESTACK_PRODUCT=$(head -n1 ${GENESTACK_CONFIG}/product)
elif [[ -z "${GENESTACK_PRODUCT}" ]]; then
  echo -e "No GENESTACK_PRODUCT defined"
  echo -e "Define the environment variable GENESTACK_PRODUCT to continue."
fi

# Export OSH variables
export CONTAINER_DISTRO_NAME=ubuntu
export CONTAINER_DISTRO_VERSION=jammy
export OSH_DEPLOY_MULTINODE=True

export OPENSTACK_RELEASE=2024.1

test -f ~/.venvs/genestack/bin/activate 2>/dev/null && source ~/.venvs/genestack/bin/activate
