# Inventory file for a small lab environment
#
all:
  hosts:
    controller1:
      ansible_host: 10.240.0.51
      access_ip: 10.240.0.51
    controller2:
      ansible_host: 10.240.0.52
      access_ip: 10.240.0.52
    controller3:
      ansible_host: 10.240.0.53
      access_ip: 10.240.0.53
    worker1:
      ansible_host: 10.240.0.54
      access_ip: 10.240.0.54
    worker2:
      ansible_host: 10.240.0.55
      access_ip: 10.240.0.55
  children:
    k8s_cluster:
      vars:
        cluster_name: cluster.local  # This clustername should be changed to match your environment domain name.
      children:
        kube_control_plane:  # all k8s control plane nodes need to be in this group
          hosts:
            controller1: null
            controller2: null
            controller3: null
        etcd:  # all etcd nodes need to be in this group
          hosts:
            controller1: null
            controller2: null
            controller3: null
        kube_node:  # all k8s enabled nodes need to be in this group
          hosts:
            controller1: null
            controller2: null
            controller3: null
            worker1: null
            worker2: null
        openstack_control_plane:  # nodes used for nova compute labeled as openstack-control-plane=enabled
          hosts:
            controller1: null
            controller2: null
            controller3: null
        openstack_compute_nodes:  # nodes used for nova compute labeled as openstack-compute-node=enabled
          hosts:
            worker1: null
            worker2: null
