
/*
Custom Genestack Admonition Type
*/

:root {
    --md-admonition-icon--genestack: url('/assets/images/genestack-mono.svg');
}

.md-typeset .admonition.genestack,
.md-typeset details.genestack {
    border-color: rgb(158, 0, 0);
}

.md-typeset .genestack>.admonition-title,
.md-typeset .genestack>summary {
    background-color: rgba(158, 0, 0, 0.1);
}

.md-typeset .genestack>.admonition-title::before,
.md-typeset .genestack>summary::before {
    background-color: rgb(158, 0, 0);
    -webkit-mask-image: var(--md-admonition-icon--genestack);
    mask-image: var(--md-admonition-icon--genestack);
}
