.adr_header {
    display: grid;
    grid-template-columns: fit-content(30%) auto;
    width: 100%;
    font-size: 0.7rem;
}

.adr_header>dd {
    margin: 0 !important;
    padding: 0.1rem 0.3rem 0.1rem;
}

.adr_header>dt {
    font-weight: bold;
}

.c-pill {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
    white-space: nowrap;
    width: auto;
    position: relative;
    border-radius: 100px;
    line-height: 1 !important;
    overflow: scroll;
    padding: 0px 12px 0px 20px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: #595959;
    word-break: break-word;
    &:before {
        border-radius: 50%;
        content: '';
        height: 10px;
        left: 6px;
        margin-top: -5px;
        position: absolute;
        top: 50%;
        width: 10px;
    }
}

.c-pill-draft {
    background: #a3a3a3;
}

.c-pill-draft:before {
    background: #505050;
}

.c-pill-proposed {
    background: #b6d8ff;
}

.c-pill-proposed:before {
    background: #0077ff;
}

.c-pill-accepted {
    background: #b4eda0;
}

.c-pill-accepted:before {
    background: #6BC167;
}

.c-pill-rejected {
    background: #ffd5d1;
}

.c-pill-rejected:before {
    background: #ff4436;
}

.c-pill-superseded {
    background: #ffebb6;
}

.c-pill-superseded:before {
    background: #ffc400;
}

.adr_header .md-tag {
    display: inline !important;

}

.adr_header .md-tags {
    margin-bottom: 0% !important;
    margin-top: unset !important;
}

.md-grid {
    max-width: 100%;
    flex-grow: 1
}

.md-main__inner {
    display: flex;
    height: 100%;
    margin-top: 1.5rem
}

.md-content {
    flex-grow: 1;
    min-width: 0;
    max-width: 1000px;
}

@media only screen and (min-width: 1220px) {
    .md-main {
        flex-grow: 1;
        margin-left: auto;
        margin-right: auto
    }
}

@media screen {
    [data-md-color-scheme=rxt] {
        --md-default-fg-color: hsla(var(--md-hue),15%,90%,0.82);
        --md-default-fg-color--light: hsla(var(--md-hue),15%,90%,0.56);
        --md-default-fg-color--lighter: hsla(var(--md-hue),15%,90%,0.32);
        --md-default-fg-color--lightest: hsla(var(--md-hue),15%,90%,0.12);
        --md-default-bg-color: hsla(var(--md-hue),15%,14%,1);
        --md-default-bg-color--light: hsla(var(--md-hue),15%,14%,0.54);
        --md-default-bg-color--lighter: hsla(var(--md-hue),15%,14%,0.26);
        --md-default-bg-color--lightest: hsla(var(--md-hue),15%,14%,0.07);
        --md-code-fg-color: hsla(var(--md-hue),18%,86%,0.82);
        --md-code-bg-color: hsla(var(--md-hue),15%,18%,1);
        --md-code-hl-color: #2977ff;
        --md-code-hl-color--light: #2977ff1a;
        --md-code-hl-number-color: #e6695b;
        --md-code-hl-special-color: #f06090;
        --md-code-hl-function-color: #c973d9;
        --md-code-hl-constant-color: #9383e2;
        --md-code-hl-keyword-color: #6791e0;
        --md-code-hl-string-color: #2fb170;
        --md-code-hl-name-color: var(--md-code-fg-color);
        --md-code-hl-operator-color: var(--md-default-fg-color--light);
        --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
        --md-code-hl-comment-color: var(--md-default-fg-color--light);
        --md-code-hl-generic-color: var(--md-default-fg-color--light);
        --md-code-hl-variable-color: var(--md-default-fg-color--light);
        --md-typeset-color: var(--md-default-fg-color);
        --md-typeset-a-color: #9e0000;
        --md-typeset-kbd-color: hsla(var(--md-hue),15%,90%,0.12);
        --md-typeset-kbd-accent-color: hsla(var(--md-hue),15%,90%,0.2);
        --md-typeset-kbd-border-color: hsla(var(--md-hue),15%,14%,1);
        --md-typeset-mark-color: #4287ff4d;
        --md-typeset-table-color: hsla(var(--md-hue),15%,95%,0.12);
        --md-typeset-table-color--light: hsla(var(--md-hue),15%,95%,0.035);
        --md-admonition-fg-color: var(--md-default-fg-color);
        --md-admonition-bg-color: var(--md-default-bg-color);
        --md-footer-bg-color: hsla(var(--md-hue),15%,10%,0.87);
        --md-footer-bg-color--dark: hsla(var(--md-hue),15%,8%,1);
        --md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
        --md-shadow-z2: 0 0.2rem 0.5rem #00000040,0 0 0.05rem #00000040;
        --md-shadow-z3: 0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
        color-scheme: dark
    }

    [data-md-color-scheme=rxt] img[src$="#gh-light-mode-only"],[data-md-color-scheme=rxt] img[src$="#only-light"] {
        display: none
    }

    [data-md-color-scheme=rxt][data-md-color-primary=pink] {
        --md-typeset-a-color: #eb0000
    }

    [data-md-color-scheme=rxt][data-md-color-primary=pink] {
        --md-typeset-a-color: #ed5487
    }

    [data-md-color-scheme=rxt][data-md-color-primary=purple] {
        --md-typeset-a-color: #c46fd3
    }

    [data-md-color-scheme=rxt][data-md-color-primary=deep-purple] {
        --md-typeset-a-color: #a47bea
    }

    [data-md-color-scheme=rxt][data-md-color-primary=indigo] {
        --md-typeset-a-color: #5488e8
    }

    [data-md-color-scheme=rxt][data-md-color-primary=teal] {
        --md-typeset-a-color: #00ccb8
    }

    [data-md-color-scheme=rxt][data-md-color-primary=green] {
        --md-typeset-a-color: #71c174
    }

    [data-md-color-scheme=rxt][data-md-color-primary=deep-orange] {
        --md-typeset-a-color: #ff764d
    }

    [data-md-color-scheme=rxt][data-md-color-primary=brown] {
        --md-typeset-a-color: #c1775c
    }

    [data-md-color-scheme=rxt][data-md-color-primary=black],[data-md-color-scheme=rxt][data-md-color-primary=blue-grey],[data-md-color-scheme=rxt][data-md-color-primary=grey],[data-md-color-scheme=rxt][data-md-color-primary=white] {
        --md-typeset-a-color: #eb0000
    }

    [data-md-color-switching] *,[data-md-color-switching] :after,[data-md-color-switching] :before {
        transition-duration: 0ms!important
    }

    .md-typeset a {
        color: #eb0000;
        word-break: break-word
    }

    .md-nav--primary .md-nav__item--active>.md-nav__link {
        color: #eb0000;
    }

    .md-nav__item .md-nav__link--active,.md-nav__item .md-nav__link--active code {
        color: #9e0000;
    }
}

[data-md-color-accent=red] {
    --md-accent-fg-color: #eb0000;
    --md-accent-fg-color--transparent: #ff19471a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3
}
