apiVersion: k8s.mariadb.com/v1alpha1
kind: Grant
metadata:
  name: monitoring-grant
spec:
  mariaDbRef:
    name: mariadb-cluster
  privileges:
    - "SELECT"
    - "PROCESS"
    - "REPLICATION CLIENT"
    - "SLAVE MONITOR"
  database: "*"
  table: "*"
  username: monitoring
  grantOption: false
  host: "%"
  requeueInterval: 30s
  retryInterval: 5s
