RETENTION_DAYS=30
BACKUP_DIR=/backup
# You probably want to place this on the PersistentVolume so that it doesn't get
# deleted with the pod by cron, or use /dev/null if you don't care. You can use
# `kubectl logs` since log messages also go to STDOUT.
LOG_FILE=/backup/upload.log
LOG_LEVEL=INFO

# From here forward, variables for uploading to a Ceph Swift interface.
SWIFT_UPLOAD=false
SWIFT_BASE_URL=http://FIX_ME:8081

# Nothing after this line makes any difference unless you used
# SWIFT_UPLOAD: "true"
# above.
CONTAINER=test-ovn-backup
