name: Helm GitHub Actions for Barbican Exporter

on:
  pull_request:
    paths:
      - base-helm-configs/barbican-exporter/**
      - base-kustomize/barbican-exporter/**
      - .github/workflows/helm-barbican-exporter.yaml
jobs:
  helm:
    strategy:
      matrix:
        overlays:
          - base
    name: Helm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: azure/setup-helm@v3
        with:
          version: latest
          token: "${{ secrets.GITHUB_TOKEN }}"
        id: helm
      - name: Kubectl Install
        working-directory: /usr/local/bin/
        run: |
            if [ ! -f /usr/local/bin/kubectl ]; then
              curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
              chmod +x ./kubectl
            fi
      - name: Run Helm Template
        run: |
          ${{ steps.helm.outputs.helm-path }} template barbican-exporter ${{ github.workspace }}/base-helm-configs/barbican-exporter \
            --create-namespace \
            --namespace=openstack \
            --wait \
            --timeout 120m \
            -f ${{ github.workspace }}/base-helm-configs/barbican-exporter/values.yaml > /tmp/rendered.yaml
      - name: Return helm Build
        uses: actions/upload-artifact@v4
        with:
          name: helm-barbican-exporter-artifact-${{ matrix.overlays }}
          path: /tmp/rendered.yaml
