name: Helm GitHub Actions for loki

on:
  pull_request:
    paths:
      - base-helm-configs/loki/**
      - .github/workflows/helm-loki.yaml
jobs:
  helm:
    strategy:
      matrix:
        overlays:
          - base
    name: Helm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: azure/setup-helm@v3
        with:
          version: latest
          token: "${{ secrets.GITHUB_TOKEN }}"
        id: helm
      - name: Add grafana repo to helm
          ${{ steps.helm.outputs.helm-path }} repo add grafana https://grafana.github.io/helm-charts
          ${{ steps.helm.outputs.helm-path }} repo update

      - name: Run Helm Template
        run: |
          ${{ steps.helm.outputs.helm-path }} template grafana grafana/loki \
            --create-namespace \
            --namespace=prometheus \
            --timeout 120m \
            -f ${{ github.workspace }}//base-helm-configs/loki/loki-helm-minio-overrides-example.yaml \
            --post-renderer ${{ github.workspace }}/base-kustomize/kustomize.sh \
            --post-renderer-args loki/${{ matrix.overlays }} > /tmp/rendered.yaml
      - name: Return helm Build
        uses: actions/upload-artifact@v4
        with:
          name: helm-loki-artifact
          path: /tmp/rendered.yaml
